@import "colors.css"

.root {
    -fx-background: -fx-var-background-color;
}

.map-ref-text {
    -fx-font: normal 5pt "Lucida Grande";
    -fx-fill: grey;
}

.asset-component-pane {
    -fx-collapsible: false;
    -fx-background-color: white;
}

.component-grid {
    -fx-background-color: white;
    -fx-hgap: 10;
}

#asset-hbox {
    -fx-padding: /* top */ 10 /* right */ 10 /* bottom */ 5 /* left */ 10;
}

#airfield-summary-hbox {
    -fx-background-color: white;
    -fx-spacing: 10;
}

#asset-management-vbox {
    -fx-background-color: white;
    -fx-alignment: center;
}

#airfield-landing-type-vbox {
    -fx-background-color: white;
    -fx-spacing: 5;
    -fx-alignment: center-left;
}

#airfield-landing-type-vbox .check-box {
    -fx-opacity: 1.0;
}

#airfield-nations-tab-pane {
    -fx-padding: /* top */ 10 /* right */ 5 /* bottom */ 5 /* left */ 10;
}

#airfield-nation-tab-hbox {
    -fx-padding: /* top */ 10 /* right */ 0 /* bottom */ 0 /* left */ 10;
    -fx-spacing: 5;
}

#map-base-grid-marker {
    -fx-opacity: 1.0;
}

#map-taskforce-grid-marker {
    -fx-opacity: 1.0;
}

#weather-pane {
    -fx-background-color: whitesmoke;
    -fx-alignment: top-center;
}

#turn-pane {
    -fx-background-color: whitesmoke;
}

#turn-image-pane {
    -fx-alignment: top-right;
}

#base-marker-title {
    -fx-border-color: dodgerblue;
    -fx-background-color: linear-gradient(to right, silver 0%, white 50%, silver);
    -fx-padding: /* top */ 5 /* right */ 5 /* bottom */ 5 /* left */ 5;
}

#patrol-radius-search {
    -fx-fill: radial-gradient(radius 100%, white, silver);
    -fx-opacity: 0.7;
    -fx-stroke-width: 0.5;
}

#patrol-radius-asw {
    -fx-fill: radial-gradient(radius 100%, white, lightsteelblue, lightslategray);
    -fx-opacity: 0.7;
    -fx-stroke-width: 0.5;
}

#patrol-radius-cap {
    -fx-fill: radial-gradient(radius 100%, white, silver, darkgrey);
    -fx-opacity: 0.7;
    -fx-stroke-width: 0.5;
}

#patrol-radius-label {
    -fx-font: normal 8pt "Lucida Grande";
    -fx-border-color: black;
    -fx-background-color: whitesmoke;
    -fx-padding: /* top */ 5 /* right */ 5 /* bottom */ 5 /* left */ 5;
}

#selected-grid-vbox {
    -fx-background-color: white;
}

#selected-grid-top-pane {
    -fx-background-color: white;
    -fx-hgap: 10;
}

#selected-grid-bottom-pane {
    -fx-background-color: white;
    -fx-vgap: 5;
    -fx-hgap: 5;
}

#selected-grid-bottom-pane .check-box {
    -fx-opacity: 1.0;
}
