////////////////////////////////////////////////////////////////////
// Define variables that may be used in this file.
// Currently only colors variables can be defined.
////////////////////////////////////////////////////////////////////
* {
    -fx-var-background-color: rgb(224, 228, 203);
}

.root {
    -fx-background: -fx-var-background-color;
}

.map-ref-text {
    -fx-font: normal 5pt "Lucida Grande";
    -fx-fill: grey;
}

#map-base-grid-marker {
    -fx-opacity: 1.0;
}
