@import "colors.css"

.root {
    -fx-background: -fx-var-background-color;
}

#title {
    -fx-font: bold 16pt "Lucida Grande";
    -fx-text-fill: navy;
}

#title-pane {
    -fx-border-width: 1px;
    -fx-border-color: -fx-var-background-color;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, gray 0%, lightblue 100%);
    -fx-alignment: top-center;
}

#objectives-pane {
    -fx-padding: 5 0 5 15;
    -fx-spacing: 15;
    -fx-border-color: -fx-var-background-color;
    -fx-border-width: 1px;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, tan 0%, silver 100%);
    -fx-alignment: center-left;
}

#label-pane {
    -fx-padding: 5 0 0 15;
}

#map-pane {
    -fx-padding: /* top */ 0 /* right */ 0 /* bottom */ 0 /* left */ 15;
    -fx-spacing: 5;
}

.mine-marker {
    -fx-fill: radial-gradient(center 50% 50%, radius 60%, white, sienna, black);
}

#mindfield-details-pane {
    -fx-collapsible: false;
}

#minefield-vbox {
    -fx-spacing: 30;
}

#minefield-details-vbox {
    -fx-background-color: whitesmoke;
}

#minefield-details-grid {
    -fx-hgap: 10;
}

#map-legend-pane {
    -fx-collapsible: false;
}

#map-legend-vbox {
    -fx-background-color: whitesmoke;
}

#map-legend-grid {
    -fx-hgap: 10;
    -fx-vgap: 4;
}

#push-buttons  {
    -fx-spacing: 180;
    -fx-padding: /* top: */ 40 /* right: */ 0 /* bottom: */ 20 /* left: */ 450;
}
