////////////////////////////////////////////////////////////////////
// Define variables that may be used in this file.
// Currently only colors variables can be defined.
////////////////////////////////////////////////////////////////////
* {
    -fx-var-background-color: rgb(224, 228, 203);
}

.root {
    -fx-background: -fx-var-background-color;
}

#patrol-details-pane {
    -fx-padding: /* top */ 10 /* bottom */ 0 /* right */ 0 /* left */ 10;
}

#patrol-details-grid {
    -fx-vgap: 1;
    -fx-hgap: 1;
}

#patrol-details-header {
    -fx-font: bold normal 10pt "Lucida Grande";
    -fx-background-color: lightsteelblue;
    -fx-alignment: top-center;
    -fx-padding: /* top */ 2 /* bottom */ 2 /* right */ 2 /* left */ 2;
}

#patrol-details-cell {
    -fx-background-color: whitesmoke;
    -fx-text-fill: black;
    -fx-alignment: top-center;
}

#controls-pane {
    -fx-padding: /* top: */ 10 /* right: */ 0 /* bottom: */ 10 /* left */ 0;
}