////////////////////////////////////////////////////////////////////
// Define variables that may be used in this file.
// Currently only colors variables can be defined.
////////////////////////////////////////////////////////////////////
* {
    -fx-var-background-color: rgb(224, 228, 203);
}

.root {
    -fx-background: -fx-var-background-color;
}

#title-pane-axis {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to right, green, white, red);
    -fx-alignment: top-center;
}

#title-pane-allied {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to right, darkred, white, darkblue);
    -fx-alignment: top-center;
}

#main-pane {
    -fx-padding: /* top */ 10 /* right */ 10 /* bottom */ 0 /* left */ 10;
    -fx-spacing: 5;
}

#main-hbox {
    -fx-padding: /* top */ 5 /* right */ 0 /* bottom */ 0 /* left */ 0;
    -fx-spacing: 5;
}

#details-pane {
    -fx-spacing: 5;
}

#components-pane {
    -fx-spacing: 6;
}

#ship-image {
    -fx-border-color: black;
    -fx-border-width: 1px;
}



#ship-details-grid {
    -fx-hgap: 10;
}


.component-grid {
    -fx-background-color: whitesmoke;
    -fx-hgap: 10;
}

.bold-label {
    -fx-font: bold 9pt "Lucida Grande";
    -fx-font-weight: bold;
}

.detail-pane {
    -fx-hgap: 15;
    -fx-vgap: 5;
    -fx-background-color: lightblue
}

.detail-pane .label {
 //   -fx-background-color: lightblue;

}

#status-pane {
    -fx-padding: /* top */ 15 /* right */ 15 /* bottom */ 0 /* left */ 15;

}

#status-grid {
    -fx-background-color: whitesmoke;
    -fx-hgap: 15;
    -fx-vgap: 20;
}

.green-bar {
    -fx-accent: green;
}

#controls-pane {
    -fx-padding: /* top */ 15 /* right */ 0 /* bottom */ 15 /* left */ 0;
}


#aircraft-vbox {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-insets: /* top */ 10 /* right */ 30 /* bottom */ 10 /* left */ 30;
    -fx-padding: /* top */ 10 /* right */ 0 /* bottom */ 0 /* left */ 0;
}