////////////////////////////////////////////////////////////////////
// Define variables that may be used in this file.
// Currently only colors variables can be defined.
////////////////////////////////////////////////////////////////////
* {
    -fx-var-background-color: rgb(224, 228, 203);
}

.root {
    -fx-background: -fx-var-background-color;
}


#title {
    -fx-font: bold 16pt "Lucida Grande";
    -fx-text-fill: navy;
}

#title-pane {
    -fx-border-width: 1px;
    -fx-border-color: -fx-var-background-color;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, gray 0%, lightblue 100%);
    -fx-alignment: top-center;
}

#objective-pane {
    -fx-padding: 5 0 5 15;
    -fx-spacing: 15;
    -fx-border-color: -fx-var-background-color;
    -fx-border-width: 1px;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, tan 0%, silver 100%);
    -fx-alignment: center-left;
}

#label-pane {
    -fx-padding: 5 0 0 15;
}

#map-pane {
    -fx-padding: /* top */ 0 /* right */ 0 /* bottom */ 0 /* left */ 15;
    -fx-spacing: 5;
}

#details-pane {
    -fx-padding: /* top */ 10 /* right */ 0 /* bottom */ 0 /* left */ 260;
    -fx-spacing: 5;
}

#taskforce-vbox {
    -fx-spacing: 30;
}

.active {
    -fx-text-fill: black;
}

.reserve {
    -fx-text-fill: red;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-text-fill: white;
}

.taskforce-marker {
    -fx-fill: linear-gradient( to right bottom, silver, black);
}

.target-marker {
    -fx-fill: radial-gradient(center 50% 50%, radius 60%, white, red, black);
}

.popup-mapRef {
    -fx-padding: 0 10 0 10;
    -fx-spacing: 5;
    //-fx-background-color: linear-gradient( to left bottom, indianred, white, lightgreen);
    //-fx-background-color: linear-gradient( to left bottom, tomato, white, steelblue);
    -fx-background-color: linear-gradient( to right bottom, white, silver);
    -fx-border-color: black;
    -fx-border-width: 0.5;
    -fx-effect:  dropshadow(one-pass-box, black, 8, 0.0 , 2, 0);
}

.popup-mapRef-text {
    -fx-font: normal 8pt "Lucida Grande";
    -fx-fill: black;
}

.popup-taskforce {
    -fx-padding: 10 10 10 10;
    -fx-spacing: 5;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, white 0%, khaki 100%);
    -fx-border-color: black;
    -fx-border-width: 0.5;
    -fx-effect:  dropshadow(one-pass-box, black, 8, 0.0 , 2, 0);
}

.popup-target {
    -fx-padding: 10 10 10 10;
    -fx-spacing: 5;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, white 0%, salmon 100%);
    -fx-border-color: black;
    -fx-border-width: 0.5;
    -fx-effect:  dropshadow(one-pass-box, black, 8, 0.0 , 2, 0);
}


.popup-text {
    -fx-font: normal 8pt "Lucida Grande";
}

.popup-text-inactive {
    -fx-font: normal 8pt "Lucida Grande";
    -fx-text-fill: red;
}

#map-legend-pane {
    -fx-collapsible: false;
}

#map-legend-vbox {
    -fx-background-color: whitesmoke;
}

#map-legend-grid {
    -fx-hgap: 10;
    -fx-vgap: 4;
}

#taskforce-pane {
    -fx-padding: /* top */ 10 /* right */ 0 /* bottom */ 0 /* left */ 10;
    -fx-tile-alignment: top-left;
    -fx-hgap: 4;
    -fx-vgap: 4;
}

#taskforce-details-pane {
    -fx-collapsible: false;
}

#taskforce-details-vbox {
    -fx-spacing: 15;
    -fx-background-color: whitesmoke;
}

#taskforce-details-grid {
    -fx-hgap: 10;
}

#taskforce-pane .button {
    -fx-text-fill: navy;
    -fx-base: whitesmoke;
    -fx-background-radius: 0;
}

#taskforce-summary-hbox {
    -fx-padding: /* top */ 10 /* right */ 0 /* bottom */ 0 /* left */ 10;
    -fx-spacing: 30px;
}

#push-buttons  {
    -fx-spacing: 180;
    -fx-padding: /* top: */ 40 /* right: */ 0 /* bottom: */ 20 /* left: */ 450;
}


////////////////////////////////////////////////////////////////////
// Configure the tables to look like a row cannot be selected.
////////////////////////////////////////////////////////////////////
.table-row-cell:filled:selected {
  -fx-background: -fx-control-inner-background ;
  -fx-background-color: -fx-table-cell-border-color, -fx-background ;
  -fx-background-insets: 0, 0 0 1 0 ;
  -fx-table-cell-border-color: derive(-fx-color, 5%);
}
.table-row-cell:odd:filled:selected {
  -fx-background: -fx-control-inner-background-alt ;
}