////////////////////////////////////////////////////////////////////
// Define variables that may be used in this file.
// Currently only colors variables can be defined.
////////////////////////////////////////////////////////////////////
* {
    -fx-var-background-color: rgb(224, 228, 203);
}

.root {
    -fx-background: -fx-var-background-color;
}

#main-pane {
    -fx-padding: /* top: */ 20 /* right: */ 10 /* bottom: */ 0 /* left: */ 10;
    -fx-spacing: 30;
}

#description-pane {
    -fx-collapsible: false;
}

#main-hbox {
    -fx-spacing: 30;
}

#victory-details-grid {
    -fx-hgap: 40;
    -fx-vgap: 2;
}

#controls-pane {
    -fx-padding: /* top */ 15 /* right */ 0 /* bottom */ 15 /* left */ 0;
}