<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console logging -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{50}.%M - %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- File logging -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/WW2atSea/app.log</file>
        <append>true</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{50}.%M - %msg%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${user.home}/WW2atSea/archived/ww2atSea.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>

    <!-- Missing Ship File logging -->
    <appender name="MISSING_SHIP_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${user.home}/WW2atSea/missing_ships.log</file>
        <append>false</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{50}.%M - %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- Missing Aircraft File logging -->
    <appender name="MISSING_AIRCRAFT_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${user.home}/WW2atSea/missing_aircraft.log</file>
        <append>false</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{50}.%M - %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- Missing Image File logging -->
    <appender name="MISSING_IMAGE_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${user.home}/WW2atSea/missing_image.log</file>
        <append>false</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{50}.%M - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="engima.waratsea.model.ship" level="warn" additivity="true">
        <appender-ref ref="MISSING_SHIP_FILE" />
    </logger>

    <logger name="engima.waratsea.model.aircraft" level="warn" additivity="true">
        <appender-ref ref="MISSING_AIRCRAFT_FILE" />
    </logger>

    <logger name="engima.waratsea.utility.ResourceProvider" level="debug" additivity="false">
        <appender-ref ref="MISSING_IMAGE_FILE" />
    </logger>

    <!-- Send logs to both the console and file -->
    <root level="info">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Send logs to both the console and file -->
    <logger name="ww2atSea" level="info" additivity="false">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </logger>


</configuration>