////////////////////////////////////////////////////////////////////
// Define variables that may be used in this file.
// Currently only colors variables can be defined.
////////////////////////////////////////////////////////////////////
* {
    -fx-var-background-color: rgb(224, 228, 203);
}

.root {
    -fx-background: -fx-var-background-color;
}


#main-pane {
    -fx-spacing: 15;
    -fx-padding: /* top: */ 10 /* right: */ 0 /* bottom: */ 0 /* left: */ 10;
}

#main-hbox {
    -fx-spacing: 20;
}

#left-vbox {
    -fx-spacing: 15;
}

#target-hbox {
    -fx-spacing: 160;
}

#choices-pane {
    -fx-spacing: 15;
}

#target-stats-vbox {
    -fx-spacing: 10;
}

#target-step-summary-grid {
    -fx-border-color: black;
    -fx-background-color: whitesmoke;
    -fx-padding: /* top: */ 10 /* right: */ 10 /* bottom: */ 10 /* left: */ 10;
    -fx-vgap: 2;
    -fx-hgap: 120;
    -fx-alignment: top-left;
}

#region-step-summary-grid {
    -fx-border-color: black;
    -fx-background-color: whitesmoke;
    -fx-padding: /* top: */ 10 /* right: */ 10 /* bottom: */ 10 /* left: */ 10;
    -fx-vgap: 2;
    -fx-hgap: 80;
    -fx-alignment: top-left;
}

#mission-stats-vbox {
    -fx-spacing: 10;
}

#mission-stats-header {
    -fx-background-color: lightsteelblue;
    -fx-font: bold normal 10pt "Lucida Grande";
    -fx-alignment: top-center;
    -fx-padding: /* top */ 2 /* right */ 2 /* bottom */ 2 /* left */ 2;
}

#mission-stats-grid {
    -fx-border-color: black;
    -fx-background-color: whitesmoke;
    -fx-padding: /* top: */ 10 /* right: */ 10 /* bottom: */ 10 /* left: */ 10;
    -fx-vgap: 1;
    -fx-hgap: 1;
    -fx-alignment: top-center;
}

#mission-stats-cell {
    -fx-background-color: lightgray;
    -fx-text-fill: black;
    -fx-alignment: top-center;
}

#mission-squadron-pane {
    -fx-alignment: center-left;
}

#missions-list-view-pair {
    -fx-spacing: 30;
    -fx-alignment: top-left;
}

#missions-list-view-pair-controls {
    -fx-padding: /* top: */ 60 /* right: */ 0 /* bottom: */ 0 /* left: */ 0;
    -fx-spacing: 10;
}

#mission-error-vbox {
    -fx-padding: /* top: */ 0 /* right: */ 0 /* bottom: */ 0 /* left: */ 0;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, white 0%, khaki 100%);
    -fx-alignment: center;
}

#mission-error-text {
    -fx-text-fill: red;
}

#summary-title-pane-australian {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to right, darkred, white, blue);
    -fx-alignment: top-center;
}

#summary-title-pane-united-states {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to right, darkred, white, darkblue);
    -fx-alignment: top-center;
}

#summary-title-pane-japanese {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to right, white, white, red);
    -fx-alignment: top-center;
}

#summary-pane {
    -fx-padding: /* top: */ 10 /* right: */ 10 /* bottom: */ 10 /* left */ 0;
}

#summary-vbox {
    -fx-spacing: 5;
    -fx-alignment: top-center;
}

#summary-hbox {
    -fx-spacing: 20;
    -fx-alignment: top-center;
}

#profile-vbox {
    -fx-background-color: white;
    -fx-alignment: center;
}

#squadron-attack-data-title {
    -fx-padding: /* top: */ 0 /* right: */ 0 /* bottom: */ 0 /* left */ 78;
}

#squadron-performance-data-title {
    -fx-padding: /* top: */ 0 /* right: */ 0 /* bottom: */ 0 /* left */ 38;
}

#controls-pane {
    -fx-padding: /* top: */ 10 /* right: */ 0 /* bottom: */ 10 /* left */ 0;
    -fx-spacing: 20;
}

.component-grid {
    -fx-background-color: white;
    -fx-hgap: 10;
}