#title-pane-axis {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to right, white, white, red);
    -fx-alignment: top-center;
}

#title-pane-allied {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to right, darkred, white, darkblue);
    -fx-alignment: top-center;
}

#title-pane-united-states {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to right, darkred, white, darkblue);
    -fx-alignment: top-center;
}

#title-pane-australian {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to right, darkred, white, blue);
    -fx-alignment: top-center;
}

#title-pane-japanese {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to right, white, white, red);
    -fx-alignment: top-center;
}