////////////////////////////////////////////////////////////////////
// Define variables that may be used in this file.
// Currently only colors variables can be defined.
////////////////////////////////////////////////////////////////////
* {
    -fx-var-background-color: rgb(224, 228, 203);
}

////////////////////////////////////////////////////////////////////
// Common styles
////////////////////////////////////////////////////////////////////
.root {
    -fx-background: -fx-var-background-color;
}

.bold-label {
    -fx-font: bold 9pt "Lucida Grande";
    -fx-font-weight: bold;
}

.components-pane {
    -fx-spacing: 7;
}

.component-grid {
    -fx-background-color: whitesmoke;
    -fx-hgap: 10;
}

.detail-pane {
    -fx-hgap: 15;
    -fx-vgap: 5;
    -fx-background-color: lightblue
}

.detail-pane .label {
 //   -fx-background-color: lightblue;
}

.green-bar {
    -fx-accent: green;
}

.spacing-5 {
    -fx-spacing: 5;
}

.title-pane-non-collapsible {
    -fx-collapsible: false;
}

////////////////////////////////////////////////////////////////////
// Specific styles
////////////////////////////////////////////////////////////////////
.profile-vbox {
    -fx-background-color: white;
    -fx-alignment: center;
}

#task-force-main-pane {
    -fx-spacing: 15;
    -fx-padding: /* top */ 10 /* right */ 10 /* bottom */ 0 /* left */ 10;
}

#title-pane-axis {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to right, white, white, red);
    -fx-alignment: top-center;
}

#title-pane-allied {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to right, darkred, white, darkblue);
    -fx-alignment: top-center;
}

#title-pane-japanese {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to right, white, white, red);
    -fx-alignment: top-center;
}

#title-pane-united-states {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to right, darkred, white, darkblue);
    -fx-alignment: top-center;
}

#ship-main-pane {
    -fx-padding: /* top */ 0 /* right */ 10 /* bottom */ 0 /* left */ 10;
    -fx-spacing: 5;
}

#squadron-main-pane {
    -fx-padding: /* top */ 0 /* right */ 10 /* bottom */ 0 /* left */ 10;
    -fx-spacing: 5;
}

#left-hbox {
    -fx-spacing: 5;
}

#left-vbox {
    -fx-spacing: 5;
}

#main-hbox {
    -fx-padding: /* top */ 5 /* right */ 0 /* bottom */ 0 /* left */ 0;
    -fx-spacing: 5;
}

#details-pane {
    -fx-spacing: 7;
}

#image {
    -fx-border-color: black;
    -fx-border-width: 1px;
}

#details-grid {
    -fx-hgap: 10;
}

#status-pane {
    -fx-padding: /* top */ 15 /* right */ 15 /* bottom */ 0 /* left */ 15;
}

#status-grid {
    -fx-background-color: whitesmoke;
    -fx-hgap: 15;
    -fx-vgap: 20;
}

#aircraft-list {
    -fx-padding: /* top */ 10 /* right */ 0 /* bottom */ 10 /* left */ 0;
}

#squadron-image {
    -fx-border-color: black;
    -fx-border-width: 1px;
}

#image-vbox {
    -fx-spacing: 5;
}

#ship-hbox {
    -fx-padding: /* top: */ 10 /* right: */ 0 /* bottom: */ 0 /* left: */ 5;
}

#controls-pane {
    -fx-padding: /* top */ 15 /* right */ 0 /* bottom */ 15 /* left */ 0;
    -fx-spacing: 20;
}