////////////////////////////////////////////////////////////////////
// Define variables that may be used in this file.
// Currently only colors variables can be defined.
////////////////////////////////////////////////////////////////////
* {
    -fx-var-background-color: rgb(224, 228, 203);
}

.root {
    -fx-background: -fx-var-background-color;
}


#main-pane {
    -fx-spacing: 5;
    -fx-padding: /* top: */ 10 /* right: */ 0 /* bottom: */ 0 /* left: */ 10;
}

#left-vbox {
    -fx-spacing: 5;
}

.component-grid {
    -fx-background-color: whitesmoke;
    -fx-hgap: 10;
}

#airfield-title-pane {
    -fx-collapsible: false;
}

#ready-tile-pane {
    -fx-pref-columns: 3;
    -fx-hgap: 5;
    -fx-vgap: 10;
}

#summary-title-pane-british {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to right, darkred, white, darkblue);
    -fx-alignment: top-center;
}

#summary-title-pane-italian {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to right, green, white, red);
    -fx-alignment: top-center;
}

#summary-title-pane-german {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to right, darkred, white, black);
    -fx-alignment: top-center;
}

#summary-title-pane-french {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to right, red, white, blue);
    -fx-alignment: top-center;
}

#summary-pane {
    -fx-padding: /* top: */ 10 /* right: */ 0 /* bottom: */ 0 /* left */ 0;
}

#summary-vbox {
    -fx-spacing: 5;
}

#summary-hbox {
    -fx-spacing: 5;
}

#profile-vbox {
    -fx-background-color: white;
    -fx-alignment: center;
}

#squadron-attack-data-title {
    -fx-padding: /* top: */ 0 /* right: */ 0 /* bottom: */ 0 /* left */ 64;
}

#squadron-performance-data-title {
    -fx-padding: /* top: */ 0 /* right: */ 0 /* bottom: */ 0 /* left */ 25;
}