////////////////////////////////////////////////////////////////////
// Define variables that may be used in this file.
// Currently only colors variables can be defined.
////////////////////////////////////////////////////////////////////
* {
    -fx-var-background-color: rgb(224, 228, 203);
    -fx-var-component-background-color: white;
}

////////////////////////////////////////////////////////////////////
// Common styles
////////////////////////////////////////////////////////////////////
.root {
    -fx-background: -fx-var-background-color;
}

.alignment-center-left {
    -fx-alignment: center-left;
}

.component-grid {
    -fx-background-color: white;
    -fx-hgap: 10;
}

.red-text {
    -fx-text-fill: red;
}

.spacing-10 {
    -fx-spacing: 10;
}

.spacing-15 {
    -fx-spacing: 15;
}

.spacing-20 {
    -fx-spacing: 20;
}

.spacing-75 {
    -fx-spacing: 75;
}

////////////////////////////////////////////////////////////////////
// Specific styles
////////////////////////////////////////////////////////////////////
.mission-stats-cell {
    -fx-background-color: lightgray;
    -fx-text-fill: black;
    -fx-alignment: top-center;
}

.mission-details-cell {
    -fx-background-color: whitesmoke;
    -fx-text-fill: black;
    -fx-alignment: top-center;
}

.mission-stats-grid {
    -fx-border-color: black;
    -fx-background-color: whitesmoke;
    -fx-padding: /* top: */ 10 /* right: */ 10 /* bottom: */ 10 /* left: */ 10;
    -fx-vgap: 1;
    -fx-hgap: 1;
    -fx-alignment: top-center;
}

.mission-stats-header {
    -fx-background-color: lightsteelblue;
    -fx-font: bold normal 10pt "Lucida Grande";
    -fx-alignment: top-center;
    -fx-padding: /* top */ 2 /* right */ 2 /* bottom */ 2 /* left */ 2;
}

.profile-vbox {
    -fx-background-color: white;
    -fx-alignment: center;
}

.step-summary-grid {
    -fx-border-color: black;
    -fx-background-color: whitesmoke;
    -fx-padding: /* top: */ 10 /* right: */ 10 /* bottom: */ 10 /* left: */ 10;
    -fx-vgap: 2;
    -fx-hgap: 30;
    -fx-alignment: top-left;
}

#affected-weather-box {
    -fx-border-color: black;
    -fx-background-color: whitesmoke;
    -fx-alignment: top-center;
    -fx-padding: /* top: */ 5 /* right: */ 10 /* bottom: */ 0 /* left: */ 10;
}

#mission-main-pane {
    -fx-spacing: 15;
    -fx-padding: /* top: */ 10 /* right: */ 0 /* bottom: */ 0 /* left: */ 10;
}

#mission-target-hbox {
    -fx-spacing: 160;
}

#missions-list-view-pair {
    -fx-padding: /* top: */ 10 /* right: */ 0 /* bottom: */ 0 /* left: */ 0;
    -fx-spacing: 30;
    -fx-alignment: top-left;
}

#missions-list-view-pair-controls {
    -fx-padding: /* top: */ 60 /* right: */ 0 /* bottom: */ 0 /* left: */ 0;
    -fx-spacing: 10;
}

#mission-error-vbox {
    -fx-padding: /* top: */ 0 /* right: */ 0 /* bottom: */ 0 /* left: */ 0;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, white 0%, khaki 100%);
    -fx-alignment: center;
}

#mission-details-summary-grid {
    -fx-hgap: 40;
    -fx-vgap: 5;
}

#mission-details-squadron-grid {
    -fx-hgap: 1;
    -fx-vgap: 1;
}

#mission-details-vbox {
    -fx-padding: /* top: */ 10 /* right: */ 0 /* bottom: */ 0 /* left: */ 10;
    -fx-spacing: 30;
}

#summary-title-pane-british {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to right, darkred, white, darkblue);
    -fx-alignment: top-center;
}

#summary-title-pane-italian {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to right, green, white, red);
    -fx-alignment: top-center;
}

#summary-title-pane-german {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to right, darkred, white, black);
    -fx-alignment: top-center;
}

#summary-title-pane-french {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to right, red, white, blue);
    -fx-alignment: top-center;
}

#squadron-summary-pane {
    -fx-padding: /* top: */ 10 /* right: */ 10 /* bottom: */ 10 /* left */ 0;
}

#squadron-summary-vbox {
    -fx-spacing: 5;
    -fx-alignment: top-center;
}

#squadron-summary-hbox {
    -fx-spacing: 20;
    -fx-alignment: top-center;
}

#squadron-attack-data-title {
    -fx-padding: /* top: */ 0 /* right: */ 0 /* bottom: */ 0 /* left */ 78;
}

#squadron-performance-data-title {
    -fx-padding: /* top: */ 0 /* right: */ 0 /* bottom: */ 0 /* left */ 38;
}

#controls-pane {
    -fx-padding: /* top: */ 10 /* right: */ 0 /* bottom: */ 10 /* left */ 0;
    -fx-spacing: 20;
}



