////////////////////////////////////////////////////////////////////
// Define variables that may be used in this file.
// Currently only colors variables can be defined.
////////////////////////////////////////////////////////////////////
* {
    -fx-var-background-color: rgb(224, 228, 203);
}

.root {
    -fx-background: -fx-var-background-color;
}

////////////////////////////////////////////////////////////////////
// Common styles
////////////////////////////////////////////////////////////////////
.components-pane {
    -fx-spacing: 7;
}

.green-bar {
    -fx-accent: green;
}

.component-grid {
    -fx-background-color: white;
    -fx-hgap: 10;
}

.spacing-5 {
    -fx-spacing: 5;
}

.spacing-10 {
    -fx-spacing: 10;
}

.spacing-75 {
    -fx-spacing: 75;
}

.title-pane-non-collapsible {
    -fx-collapsible: false;
}

////////////////////////////////////////////////////////////////////
// Specific styles
////////////////////////////////////////////////////////////////////
.mission-stats-cell {
    -fx-background-color: lightgray;
    -fx-text-fill: black;
    -fx-alignment: top-center;
}

.mission-stats-grid {
    -fx-border-color: black;
    -fx-background-color: whitesmoke;
    -fx-padding: /* top: */ 10 /* right: */ 10 /* bottom: */ 10 /* left: */ 10;
    -fx-vgap: 1;
    -fx-hgap: 1;
    -fx-alignment: top-center;
}

.mission-stats-header {
    -fx-font: bold normal 10pt "Lucida Grande";
    -fx-background-color: lightsteelblue;
    -fx-alignment: top-center;
    -fx-padding: /* top */ 2 /* right */ 2 /* bottom */ 2 /* left */ 2;
}

.patrol-details-header {
    -fx-font: bold normal 10pt "Lucida Grande";
    -fx-background-color: lightsteelblue;
    -fx-alignment: top-center;
    -fx-padding: /* top */ 2 /* right */ 2 /* bottom */ 2 /* left */ 2;
}

.patrol-details-row-header {
    -fx-font: bold normal 10pt "Lucida Grande";
    -fx-background-color: lightsteelblue;
    -fx-alignment: top-center;
}

.patrol-note {
    -fx-border-color: black;
    -fx-background-color: lightsteelblue;
    -fx-padding: /* top: */ 10 /* right: */ 10 /* bottom: */ 10 /* left: */ 10;
}
.patrol-stats-cell {
    -fx-background-color: whitesmoke;
    -fx-text-fill: black;
    -fx-alignment: top-center;
}

.profile-vbox {
    -fx-background-color: white;
    -fx-alignment: center;
}

#airfield-main-pane {
    -fx-spacing: 15;
    -fx-padding: /* top: */ 10 /* right: */ 10 /* bottom: */ 0 /* left: */ 10;
}

#patrol-main-pane {
    -fx-padding: /* top: */ 20 /* right: */ 10 /* bottom: */ 0 /* left: */ 10;
}

#title-pane-axis {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to right, green, white, red);
    -fx-alignment: top-center;
}

#title-pane-allied {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to right, darkred, white, darkblue);
    -fx-alignment: top-center;
}

#title-pane-italian {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to right, green, white, red);
    -fx-alignment: top-center;
}

#title-pane-british {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to right, darkred, white, darkblue);
    -fx-alignment: top-center;
}

#main-pane {
    -fx-padding: /* top */ 10 /* right */ 0 /* bottom */ 0 /* left */ 0;
    -fx-spacing: 15;
}

#left-hbox {
    -fx-spacing: 5;
}

#left-vbox {
    -fx-spacing: 5;
}

#main-hbox {
    -fx-padding: /* top */ 5 /* right */ 0 /* bottom */ 0 /* left */ 0;
    -fx-spacing: 5;
}

#details-pane {
    -fx-spacing: 7;
}

#image {
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.profile-vbox {
    -fx-background-color: white;
    -fx-alignment: center;
}

#details-grid {
    -fx-hgap: 10;
}

#status-pane {
    -fx-padding: /* top */ 15 /* right */ 15 /* bottom */ 0 /* left */ 15;
}

#status-grid {
    -fx-background-color: whitesmoke;
    -fx-hgap: 15;
    -fx-vgap: 20;
}

#aircraft-list {
    -fx-padding: /* top */ 10 /* right */ 0 /* bottom */ 10 /* left */ 0;
}

#squadron-image {
    -fx-border-color: black;
    -fx-border-width: 1px;
}

#image-vbox {
    -fx-spacing: 5;
}

#ship-hbox {
    -fx-padding: /* top: */ 10 /* right: */ 0 /* bottom: */ 0 /* left: */ 5;
}

#patrol-list-view-pair {
    -fx-spacing: 30;
    -fx-alignment: top-center;
}

#patrol-list-view-pair-controls {
    -fx-padding: /* top: */ 60 /* right: */ 0 /* bottom: */ 0 /* left: */ 0;
    -fx-spacing: 10;
}

#patrol-stats-pane {
    -fx-padding: /* top */ 20 /* right */ 0 /* bottom */ 0 /* left */ 0;
}

#patrol-stats-hbox {
    -fx-alignment: top-center;
    -fx-padding: /* top */ 5 /* right */ 0 /* bottom */ 0 /* left */ 10;
    -fx-spacing: 10;
}

#patrol-stats-grid {
    -fx-alignment: top-center;
    -fx-hgap: 1;
    -fx-vgap: 1;
}

.patrol-stats-cell {
    -fx-background-color: whitesmoke;
    -fx-text-fill: black;
    -fx-alignment: top-center;
}

#affected-weather-box {
    -fx-border-color: black;
    -fx-background-color: whitesmoke;
    -fx-alignment: top-center;
    -fx-padding: /* top: */ 5 /* right: */ 10 /* bottom: */ 0 /* left: */ 10;
}

#ready-tile-pane {
    -fx-pref-columns: 3;
    -fx-hgap: 20;
    -fx-vgap: 10;
}

#summary-title-pane-british {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to right, darkred, white, darkblue);
    -fx-alignment: top-center;
}

#summary-title-pane-italian {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to right, green, white, red);
    -fx-alignment: top-center;
}

#summary-title-pane-german {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to right, darkred, white, black);
    -fx-alignment: top-center;
}

#summary-title-pane-french {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(to right, red, white, blue);
    -fx-alignment: top-center;
}

#squadron-summary-pane {
    -fx-padding: /* top: */ 10 /* right: */ 0 /* bottom: */ 10 /* left */ 0;
}

#squadron-summary-vbox {
    -fx-spacing: 5;
}

#squadron-summary-hbox {
    -fx-spacing: 20;
}

#squadron-attack-data-title {
    -fx-padding: /* top: */ 0 /* right: */ 0 /* bottom: */ 0 /* left */ 78;
}

#squadron-performance-data-title {
    -fx-padding: /* top: */ 0 /* right: */ 0 /* bottom: */ 0 /* left */ 38;
}

#controls-pane {
    -fx-padding: /* top: */ 10 /* right: */ 0 /* bottom: */ 10 /* left: */ 0;
    -fx-spacing: 20;
}